@media (max-width: 400px){
    #heroPage{
        height: 60dvh;
        justify-content: space-between;
        .textContainer{
            width: 75%;
            p{
                font-size: small;
            }
            .heroButtons{
                width: 90%;
                a{
                    font-size: xx-small;
                }
            }
        }
        .socialsLogoWrap{
        height: 30dvh;
        width: 70%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    }

    #section2{
        height: auto;
        .sectionHeader{
        h4{
            width: 75%;
            text-align: start;
        }
        }
        .sectionBody{
        /* height: 90%; */
        flex-direction: column;
        .leftBoxes{
            display: flex;
            width: 100%;
            flex-direction: column;
            .box{
                height: 25dvh !important;
                .boxNumber{
                width: 10dvw;
            }
            }
            
        }
        .rightBox{
            width: 100%;
            height: 40dvh;
        }
        }
    }

    #productSection{
        .sectionWrapper{
           height: auto;
        .headerWrap{
            h4{
            width: 75%;
            text-align: start;
        }
        }
        .sectionBody{
            display: flex;
            flex-direction: column;
            .box{
                width: 100%;
                height: 23dvh !important;
            }
        }
        .sectionButton{
            a{
                font-size: x-small;
            }
        } 
        }
        
    }

    #userSection{
        height: auto;
        .sectionWrapper{
            /* .sectionHeader{
                p{
                    width: ;
                }
            } */
            .sectionBody{
                .box{
                    height: 40vh !important;
                    width: 60vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .cardPic{
                        height: 50%;
                    }
                    .cardInfo{
                        h6{
                            font-size: smaller;
                        }
                        p{
                            font-size: smaller;
                        }
                        .boxButton{
                            /* font-size: x-small; */
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

    #categorySection{
    height: auto;
    .sectionWrapper{
        .sectionHeader{
            flex-direction: column;
            p{
                width: 100%;
                font-size: smaller;
            }
        }
        .sectionBody{
            flex-direction: column;
            gap: 9vh;
            .Box{
                margin: 0 auto;
                width: 75dvw;
                height: 30dvh;
            }
        }
    }
    }
}

@media (max-width: 470px){
    #heroPage{
        height: 60dvh;
        justify-content: space-between;
        .textContainer{
            width: 75%;
            p{
                font-size: small;
            }
            .heroButtons{
                width: 90%;
                a{
                    font-size: xx-small;
                }
            }
        }
        .socialsLogoWrap{
        height: 35dvh;
        width: 80%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    }

    #section2{
        height: auto;
        .sectionHeader{
        h4{
            width: 75%;
            text-align: start;
        }
        }
        .sectionBody{
        /* height: 90%; */
        flex-direction: column;
        .leftBoxes{
            display: flex;
            width: 100%;
            flex-direction: column;
            .box{
                height: 25dvh;
                .boxNumber{
                width: 10dvw;
            }
            }
            
        }
        .rightBox{
            width: 100%;
            height: 40dvh;
        }
        }
    }

    #productSection{
        .sectionWrapper{
           height: auto;
        .headerWrap{
            h4{
            width: 75%;
            text-align: start;
        }
        }
        .sectionBody{
            display: flex;
            flex-direction: column;
            .box{
                width: 100%;
                height: 23dvh;
            }
        }
        .sectionButton{
            a{
                font-size: smaller;
            }
        } 
        }
        
    }
    #userSection{
        height: auto;
        .sectionWrapper{
            /* .sectionHeader{
                p{
                    width: ;
                }
            } */
            .sectionBody{
                .box{
                    height: 40vh;
                    width: 60vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .cardPic{
                        height: 50%;
                    }
                    .cardInfo{
                        h6{
                            font-size: smaller;
                        }
                        p{
                            font-size: smaller;
                        }
                        .boxButton{
                            /* font-size: x-small; */
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

    #categorySection{
    height: auto;
    .sectionWrapper{
        .sectionHeader{
            flex-direction: column;
            p{
                width: 100%;
                font-size: smaller;
            }
        }
        .sectionBody{
            flex-direction: column;
            gap: 9vh;
            .Box{
                margin: 0 auto;
                width: 75dvw;
                height: 30dvh;
            }
        }
    }
    }

    #JoinSection{
        a{
            font-size: smaller;
            width: 50%;
        }
    }
}

@media (min-width: 500px) and (max-width: 800px){
    #heroPage{
        height: 60dvh;
        justify-content: space-between;
        .textContainer{
            width: 50%;
            p{
                font-size: small;
            }
            .heroButtons{
                width: 60%;
                a{
                    font-size: xx-small;
                }
            }
        }
        .socialsLogoWrap{
        height: 50dvh;
        width: 75%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    }

    #section2{
        height: auto;
        .sectionBody{
            .leftBoxes{
            grid-template-rows: repeat(2, 20dvh);
            .box{
                .boxNumber{
                width: 5dvw;
            }
            }
        }
        .rightBox{
            height: 41dvh;
        }
        }

    }

    #productSection{
    .sectionWrapper{
        height: 50dvh;
        .sectionBody{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 20dvh);
        }
    }
    }

    #userSection{
        height: auto;
        .sectionWrapper{
            /* .sectionHeader{
                p{
                    width: ;
                }
            } */
            .sectionBody{
                .box{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 35vh;
                    width: 50vw;
                    .cardInfo{
                        .boxButton{
                            /* font-size: x-small; */
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

    #categorySection{
    height: auto;
    .sectionWrapper{
        .sectionHeader{
            /* flex-direction: column; */
            p{
                width: 100%;
                font-size: smaller;
            }
        }
        .sectionBody{
            /* flex-direction: column; */
            /* gap: 7vh; */
            .Box{
                margin: 0 auto;
                width: 25dvw;
                height: 22dvh;
                .cardPic{
                    height: 45%;
                    width: 80%;
                }
                .cardInfo{
                    height: 40%;
                }
            }
        }
    }
    }

    #JoinSection{
        a{
            font-size: smaller;
            width: 30%;
        }
    }
}