*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

#heroPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90dvh;
    .textContainer{
        width: 35%;
        height: 40dvh;
        margin: 0 auto;
        .typeFace{
            text-align: center;
                    background: -webkit-linear-gradient(#a57eed,#553297, #421a86);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
        }
    }
    .heroButtons{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        .button2{
                background-color: #A372FF;
                width: 40%;
                font-size: smaller;
                box-shadow:  12px 12px 24px #6cb1e9,
                -12px -12px 24px #ffffff;
                span{
                    color: #673AB7;
                }
                
            }
            .button1{
                /* background-color: ; */
                background-image: linear-gradient(to right, #BB96FF,#9B73E4, #673AB7);
                width: 40%;
                font-size: smaller;
                box-shadow:  12px 12px 24px #6cb1e9,
                -12px -12px 24px #ffffff;

            }
    }
    .socialsLogoWrap{
        height: 50dvh;
        width: 50%;
        img{
            height: 100%;
            width: 100%;
        }
    }
}

#section2{
    background-color: #A372FF;
    height: 90dvh;
    .sectionHeader{
        h4{
            text-align: center;
            background: -webkit-linear-gradient(#a57eed,#553297, #421a86);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
        }
    }
    .sectionBody{
        height: 90%;
        /* display: flex; */
        .leftBoxes{
            height: 100%;
            width: 55%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 30dvh);
            .box{
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .boxNumber{
                    width: 3vw;
                    font-size: smaller;
                    text-align: center;
                    height: auto;
                    background-color: #A372FF;
                    border-radius: 100%;
                }
                p{
                    font-size: smaller;
                }
                .earnLink{
                    /* text-decoration: none; */
                    color: white;
                    background-image: linear-gradient(to right, #BB96FF,#9B73E4, #673AB7);
                    border-radius: 100%;
                }
            }.box3{
                    grid-column: span 2;
                }
        }
        .rightBox{
           height: 63dvh;
            width: 40%; 
            background-image: url(/67278\ 1.png);
            color: white;
            .startButton{
                color: white;
                font-size: smaller;
                background-image: linear-gradient(to right, #BB96FF,#9B73E4, #673AB7);
            }
        }
    }
}

#productSection{
    .sectionWrapper{
        height: 80dvh;
        .headerWrap{
            h4{
            text-align: center;
            background: -webkit-linear-gradient(#a57eed,#553297, #421a86);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
        }
        }
        .sectionBody{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 25dvh);
            .box{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                box-shadow:  7px 7px 10px #c5c5c5,
                -7px -7px 10px #fbfbfb;

            }

        }

        .sectionButton{
            text-align: center;
            a{
                color: white;
                background-image: linear-gradient(to right, #BB96FF,#9B73E4, #673AB7);
            }
        }
    }
}

#userSection{
    height: 80dvh;
    /* width: 100vw; */
    background-color: #A372FF;
    .sectionWrapper{
        width: 100%;
        /* position: ; */
        .sectionHeader{
            h4{
            text-align: start;
            background: -webkit-linear-gradient(#a57eed,#553297, #421a86);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
        }
        }
        .sectionBody{
            display: flex;
            /* width: 93vw; */
            overflow-x: auto;
            scrollbar-width: none;
            .box{
                height: 45dvh;
                width: 25vw;
                flex-shrink: 0;
                .cardPic{
                    height: 55%;
                    width: 80%;
                    img{
                   height: 100%;
                   width: 100%; 
                }
                }
                .cardInfo{
                    text-align: center;
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    h6{
                        background: -webkit-linear-gradient(#a57eed,#553297, #421a86);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                    }
                    .boxButton{
                        color: white;
                        width: 40%;
                        margin: 0 auto;
                        font-size: smaller;
                        background-image: linear-gradient(to right, #BB96FF,#9B73E4, #673AB7);
                    }
                }
            }
        }
        .sectionBody::-webkit-scrollbar {
            display: none;
        }
    }
}

#categorySection{
    height: auto;
    .sectionWrapper{
        .sectionHeader{
            h4{
                background: -webkit-linear-gradient(#a57eed,#553297, #421a86);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
            }
        }
        .sectionBody{
            .Box{
                height: 40dvh;
                width: 25dvw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .cardPic{
                    height: 55%;
                    width: 70%;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .cardInfo{
                    height: 30%;
                    h5{
                        text-align: center;
                        background: -webkit-linear-gradient(#a57eed,#553297, #421a86);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                    }
                    p{
                        text-align: center;
                    }

                }
            }
        }
    }
}

#JoinSection{
    text-align: center;
    h4{
        background: -webkit-linear-gradient(#a57eed,#553297, #421a86);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
    }
    a{
        width: 20%;
        background-image: linear-gradient(to right, #BB96FF,#9B73E4, #673AB7);
        color: white;
        /* font-size: smaller; */
        margin: 0 auto;
    }
}

.btn:hover{
    scale: 1.1;
    transition: ease-out 1s;
}
}