@media (max-width: 550px){
    #Navbar{
        width: 90%;
        .leftNav{
           width: 35%;
            .logo{
                height: 25px;
                width: 25px;
                /* width: 100%; */
                img{
                    height: 100%;
                    width: 100%;
                }  
            } 
            .logoText{
                    height: 40%;
                    padding: 10% 0;
                    font-size: smaller;
                }
        }
        .centerNav{
            display: none;
        }
        .rightNav{
            display: flex;
            align-items: center;
            .getStarted{
                display: none;
            }
            .toggle{
                display: block;
                background: -webkit-linear-gradient(#BB96FF,#9B73E4, #673AB7);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
        }
    }

    #Footer{
        .wrapper{
            flex-direction: column;
            .flowDiv{
                width: 80% !important;
            }
            .connected{
                width: 80% !important;
            }

        }
    }
}

@media (min-width:550px) and (max-width: 750px){
    #Navbar{
        width: 90%;
        .leftNav{
           width: 35%;
            .logo{
                height: 25px;
                width: 25px;
                /* width: 100%; */
                img{
                    height: 100%;
                    width: 100%;
                }  
            } 
            .logoText{
                    height: 45%;
                    padding: 12% 0;
                    font-size: smaller;
                }
        }
        .centerNav{
            display: none;
        }
        .rightNav{
            display: flex;
            align-items: center;
            .getStarted{
                display: none;
            }
            .toggle{
                display: block;
                background: -webkit-linear-gradient(#BB96FF,#9B73E4, #673AB7);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
        }
    }

    #Footer{
        .wrapper{
            flex-direction: column;
            .flowDiv{
                width: 80% !important;
            }
            .connected{
                width: 80% !important;
            }

        }
        p{
            font-size: x-small;
        }
    }
}

@media (min-width: 750px) and (max-width: 1050px){
    #Navbar{
        .leftNav{
           width: 22%; 
        }
        .centerNav{
            width: 45%;
            a{
                font-size: smaller;
            }
        }
        .rightNav{
            width: 25%;
        }
    }
}